* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.coronaTableCountry h2{
    text-align:center;
}

.coronaTableCountry p{
    text-align:center;
}

.coronaTableCountry td{
    line-height:2.5;
    width:100vw;
    justify-content:space-evenly;
}

#coronaTableHeader tr{
    width:100vw;
    display:flex;
    justify-content:space-evenly;
} 

#coronaTableHeader{
    margin-left:auto;
    margin-right:auto;
}

.coronaTableCountry {
    color:white;
}