* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.coronaTableCountry h2{
    text-align:center;
}

.coronaTableCountry p{
    text-align:center;
}

#coronaResultHeader {
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    align-items:space-evenly;
}