* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.coronaTableCountry h2{
    text-align:center;
}

.coronaTableCountry p{
    text-align:center;
}

.coronaTableCountry td{
    line-height:3;
    width: 20%;
    justify-content:space-evenly;
}

#coronaTableHeader{
    justify-content:space-evenly;
}

#coronaDataTable{
    justify-content:space-evenly;
}

.coronaTableCountry {
    color:white;
    font-family: 'Share Tech Mono', monospace;
}