* {
    margin : 0;
    padding: 0;
}

body {
    background-color: #1f2833;
    font-family: 'Roboto', sans-serif;
    min-height: 95vh;
    min-width: 95vw;
    text-align: justify;
    line-height: 2;

}

#dropdownNav li {
    height: 100%;
    width: 100%;
}

#content {
    position: relative;
}

.sidenav li>a{
    padding:0;
}
main {
    flex: 1 0 auto;
    background-color: #c5c6c7;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 25px;
    display: flex;
    border: 2px dotted black;
    border-radius: 5px;
}

.sidenav{
    background-color: black;
}
#logo {
    height: auto;
    width: 25vw;
}
.card{
    margin-bottom: 0px;
    margin-top:10px;
}

.page-footer{
    margin-top: 10px;
}

.branding {
    background-color: #0b0c10;
    display: flex;
    border-radius: 30px;
    margin-top: 5px;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.nav-wrapper{
    margin-top: 10px;
    background-color: #0b0c10;
}

#sidenavbtn{
    background-color:#0b0c10;
    color: #66fcf1;
    font-size:30px;
}

#dropdown1btn{
    color: red;
    font-size: 18px;
}
.card{
    background-color: #0b0c10;
}

.page-footer{
    background-color: #0b0c10;

}

.show {
    display: block;
}

footer {
    bottom: 0;
}


.nav-wrapper li:hover > #dropdownNav {
    display: flex;
    flex-direction: column;
    background-color: #ccc;
}

#dropdownNav {
    display: none;
}

@media only screen and (max-width: 1000px){
    #logo {
        width: 50vw;
    }
}