* {
    margin : 0;
    padding: 0;
}

body {
    background-color: #1f2833;
    font-family: 'Roboto', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    min-height: 99vh;
}

main{
    flex: 1 0 auto;
    background-color: #c5c6c7;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 25px;
}



#logo {
    height: auto;
    width: 25vw;
}
.card{
    margin-bottom: 0px;
    margin-top:10px;
}

.page-footer{
    margin-top: 10px;
}

.branding {
    background-color: #0b0c10;
    display: flex;
    border-radius: 30px;
    margin-top: 5px;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.nav-wrapper{
    margin-top: 10px;
    background-color: #0b0c10;
}

.material-icons{
    background-color:#0b0c10;
    color: #66fcf1;
    font-size:30px;
}

.card{
    background-color: #0b0c10;
}

.dropbtn {
    background: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    background-color:black;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    overflow: auto;
    z-index: 1;
}

.dropdown-content a{
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.page-footer{
    background-color: #0b0c10;

}

.dropdown a:hover {background-color: #ddd;}

.show {
    display: block;
}

footer {
    bottom: 0;
}

.nav-wrapper {
    text-transform: uppercase;
}

.nav-wrapper li:hover > #dropdownNav {
    display: flex;
    flex-direction: column;
    background-color: #ccc;
}

#dropdownNav {
    display: none;
}



@media only screen and (max-width: 1000px){
    #logo {
        width: 50vw;
    }
}